<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>阿尔巴尼亚</string>
		<string>ALB</string>
	</array>
	<array>
		<string>阿尔及利亚</string>
		<string>DZA</string>
	</array>
	<array>
		<string>阿富汗</string>
		<string>AFG</string>
	</array>
	<array>
		<string>阿根廷</string>
		<string>ARG</string>
	</array>
	<array>
		<string>阿联酋</string>
		<string>ARE</string>
	</array>
	<array>
		<string>阿鲁巴</string>
		<string>ABW</string>
	</array>
	<array>
		<string>阿曼</string>
		<string>OMN</string>
	</array>
	<array>
		<string>阿塞拜疆</string>
		<string>AZE</string>
	</array>
	<array>
		<string>爱尔兰</string>
		<string>IRL</string>
	</array>
	<array>
		<string>埃及</string>
		<string>EGY</string>
	</array>
	<array>
		<string>埃塞俄比亚</string>
		<string>ETH</string>
	</array>
	<array>
		<string>爱沙尼亚</string>
		<string>EST</string>
	</array>
	<array>
		<string>安道尔</string>
		<string>AND</string>
	</array>
	<array>
		<string>安哥拉</string>
		<string>AGO</string>
	</array>
	<array>
		<string>安圭拉</string>
		<string>AIA</string>
	</array>
	<array>
		<string>安提瓜和巴布达</string>
		<string>ATG</string>
	</array>
	<array>
		<string>澳大利亚</string>
		<string>AUS</string>
	</array>
	<array>
		<string>奥地利</string>
		<string>AUT</string>
	</array>
	<array>
		<string>奥兰群岛</string>
		<string>ALA</string>
	</array>
	<array>
		<string>澳门</string>
		<string>MAC</string>
	</array>
	<array>
		<string>巴巴多斯</string>
		<string>BRB</string>
	</array>
	<array>
		<string>巴布亚新几内亚</string>
		<string>PNG</string>
	</array>
	<array>
		<string>巴哈马</string>
		<string>BHS</string>
	</array>
	<array>
		<string>巴基斯坦</string>
		<string>PAK</string>
	</array>
	<array>
		<string>巴拉圭</string>
		<string>PRY</string>
	</array>
	<array>
		<string>巴勒斯坦</string>
		<string>PSE</string>
	</array>
	<array>
		<string>巴林</string>
		<string>BHR</string>
	</array>
	<array>
		<string>巴拿马</string>
		<string>PAN</string>
	</array>
	<array>
		<string>巴西</string>
		<string>BRA</string>
	</array>
	<array>
		<string>白俄罗斯</string>
		<string>BLR</string>
	</array>
	<array>
		<string>百慕大</string>
		<string>BMU</string>
	</array>
	<array>
		<string>保加利亚</string>
		<string>BGR</string>
	</array>
	<array>
		<string>北马里亚纳群岛</string>
		<string>MNP</string>
	</array>
	<array>
		<string>贝宁</string>
		<string>BEN</string>
	</array>
	<array>
		<string>比利时</string>
		<string>BEL</string>
	</array>
	<array>
		<string>冰岛</string>
		<string>ISL</string>
	</array>
	<array>
		<string>波多黎各</string>
		<string>PRI</string>
	</array>
	<array>
		<string>波兰</string>
		<string>POL</string>
	</array>
	<array>
		<string>玻利维亚共和国</string>
		<string>BOL</string>
	</array>
	<array>
		<string>伯利兹</string>
		<string>BLZ</string>
	</array>
	<array>
		<string>博奈尔、圣尤斯特歇斯岛和萨巴</string>
		<string>BES</string>
	</array>
	<array>
		<string>波斯尼亚和黑塞哥维那</string>
		<string>BIH</string>
	</array>
	<array>
		<string>博兹瓦那</string>
		<string>BWA</string>
	</array>
	<array>
		<string>不丹</string>
		<string>BTN</string>
	</array>
	<array>
		<string>布基纳法索</string>
		<string>BFA</string>
	</array>
	<array>
		<string>布隆迪</string>
		<string>BDI</string>
	</array>
	<array>
		<string>布维群岛</string>
		<string>BVT</string>
	</array>
	<array>
		<string>朝鲜</string>
		<string>PRK</string>
	</array>
	<array>
		<string>赤道几内亚</string>
		<string>GNQ</string>
	</array>
	<array>
		<string>丹麦</string>
		<string>DNK</string>
	</array>
	<array>
		<string>德国</string>
		<string>DEU</string>
	</array>
	<array>
		<string>东帝汶</string>
		<string>TLS</string>
	</array>
	<array>
		<string>多哥</string>
		<string>TGO</string>
	</array>
	<array>
		<string>多米尼加共和国</string>
		<string>DOM</string>
	</array>
	<array>
		<string>多米尼克</string>
		<string>DMA</string>
	</array>
	<array>
		<string>厄瓜多尔</string>
		<string>ECU</string>
	</array>
	<array>
		<string>厄立特里亚</string>
		<string>ERI</string>
	</array>
	<array>
		<string>俄罗斯</string>
		<string>RUS</string>
	</array>
	<array>
		<string>法国</string>
		<string>FRA</string>
	</array>
	<array>
		<string>法罗群岛</string>
		<string>FRO</string>
	</array>
	<array>
		<string>法属玻利尼西亚</string>
		<string>PYF</string>
	</array>
	<array>
		<string>法属圭亚那</string>
		<string>GUF</string>
	</array>
	<array>
		<string>法属南半球领地</string>
		<string>ATF</string>
	</array>
	<array>
		<string>法属圣马丁</string>
		<string>MAF</string>
	</array>
	<array>
		<string>梵地冈</string>
		<string>VAT</string>
	</array>
	<array>
		<string>斐济</string>
		<string>FJI</string>
	</array>
	<array>
		<string>菲律宾</string>
		<string>PHL</string>
	</array>
	<array>
		<string>芬兰</string>
		<string>FIN</string>
	</array>
	<array>
		<string>佛得角</string>
		<string>CPV</string>
	</array>
	<array>
		<string>福克兰群岛(马尔维纳斯)</string>
		<string>FLK</string>
	</array>
	<array>
		<string>冈比亚</string>
		<string>GMB</string>
	</array>
	<array>
		<string>刚果</string>
		<string>COG</string>
	</array>
	<array>
		<string>刚果民主共和国</string>
		<string>COD</string>
	</array>
	<array>
		<string>格林纳达</string>
		<string>GRD</string>
	</array>
	<array>
		<string>格陵兰</string>
		<string>GRL</string>
	</array>
	<array>
		<string>格鲁吉亚</string>
		<string>GEO</string>
	</array>
	<array>
		<string>哥伦比亚</string>
		<string>COL</string>
	</array>
	<array>
		<string>哥斯达黎加</string>
		<string>CRI</string>
	</array>
	<array>
		<string>根西岛</string>
		<string>GGY</string>
	</array>
	<array>
		<string>古巴</string>
		<string>CUB</string>
	</array>
	<array>
		<string>瓜德罗普</string>
		<string>GLP</string>
	</array>
	<array>
		<string>瓜地马拉</string>
		<string>GTM</string>
	</array>
	<array>
		<string>关岛</string>
		<string>GUM</string>
	</array>
	<array>
		<string>圭亚那</string>
		<string>GUY</string>
	</array>
	<array>
		<string>哈萨克斯坦</string>
		<string>KAZ</string>
	</array>
	<array>
		<string>海地</string>
		<string>HTI</string>
	</array>
	<array>
		<string>韩国</string>
		<string>KOR</string>
	</array>
	<array>
		<string>赫德岛与麦克唐纳群岛</string>
		<string>HMD</string>
	</array>
	<array>
		<string>荷兰</string>
		<string>NLD</string>
	</array>
	<array>
		<string>荷属圣马丁</string>
		<string>SXM</string>
	</array>
	<array>
		<string>黑山</string>
		<string>MNE</string>
	</array>
	<array>
		<string>洪都拉斯</string>
		<string>HND</string>
	</array>
	<array>
		<string>吉布提</string>
		<string>DJI</string>
	</array>
	<array>
		<string>吉尔吉斯坦</string>
		<string>KGZ</string>
	</array>
	<array>
		<string>基里巴斯</string>
		<string>KIR</string>
	</array>
	<array>
		<string>几内亚</string>
		<string>GIN</string>
	</array>
	<array>
		<string>几内亚比绍</string>
		<string>GNB</string>
	</array>
	<array>
		<string>加纳</string>
		<string>GHA</string>
	</array>
	<array>
		<string>加拿大</string>
		<string>CAN</string>
	</array>
	<array>
		<string>加蓬</string>
		<string>GAB</string>
	</array>
	<array>
		<string>柬埔塞</string>
		<string>KHM</string>
	</array>
	<array>
		<string>捷克</string>
		<string>CZE</string>
	</array>
	<array>
		<string>津巴布韦</string>
		<string>ZWE</string>
	</array>
	<array>
		<string>喀麦隆</string>
		<string>CMR</string>
	</array>
	<array>
		<string>卡塔尔</string>
		<string>QAT</string>
	</array>
	<array>
		<string>开曼群岛</string>
		<string>CYM</string>
	</array>
	<array>
		<string>科科斯群岛</string>
		<string>CCK</string>
	</array>
	<array>
		<string>克罗地亚</string>
		<string>HRV</string>
	</array>
	<array>
		<string>科摩罗</string>
		<string>COM</string>
	</array>
	<array>
		<string>科特迪瓦</string>
		<string>CIV</string>
	</array>
	<array>
		<string>科威特</string>
		<string>KWT</string>
	</array>
	<array>
		<string>肯尼亚</string>
		<string>KEN</string>
	</array>
	<array>
		<string>库克群岛</string>
		<string>COK</string>
	</array>
	<array>
		<string>库拉索</string>
		<string>CUW</string>
	</array>
	<array>
		<string>拉脱维亚</string>
		<string>LVA</string>
	</array>
	<array>
		<string>莱索托</string>
		<string>LSO</string>
	</array>
	<array>
		<string>老挝人民民主共和国</string>
		<string>LAO</string>
	</array>
	<array>
		<string>黎巴嫩</string>
		<string>LBN</string>
	</array>
	<array>
		<string>利比里亚</string>
		<string>LBR</string>
	</array>
	<array>
		<string>利比亚</string>
		<string>LBY</string>
	</array>
	<array>
		<string>立陶宛</string>
		<string>LTU</string>
	</array>
	<array>
		<string>列支敦士登</string>
		<string>LIE</string>
	</array>
	<array>
		<string>留尼汪</string>
		<string>REU</string>
	</array>
	<array>
		<string>卢森堡</string>
		<string>LUX</string>
	</array>
	<array>
		<string>卢旺达</string>
		<string>RWA</string>
	</array>
	<array>
		<string>罗马尼亚</string>
		<string>ROU</string>
	</array>
	<array>
		<string>马达加斯加</string>
		<string>MDG</string>
	</array>
	<array>
		<string>马尔代夫</string>
		<string>MDV</string>
	</array>
	<array>
		<string>马尔他</string>
		<string>MLT</string>
	</array>
	<array>
		<string>马拉维</string>
		<string>MWI</string>
	</array>
	<array>
		<string>马来西亚</string>
		<string>MYS</string>
	</array>
	<array>
		<string>马里</string>
		<string>MLI</string>
	</array>
	<array>
		<string>马其顿</string>
		<string>MKD</string>
	</array>
	<array>
		<string>马绍尔群岛</string>
		<string>MHL</string>
	</array>
	<array>
		<string>马提尼克</string>
		<string>MTQ</string>
	</array>
	<array>
		<string>马约特</string>
		<string>MYT</string>
	</array>
	<array>
		<string>曼岛</string>
		<string>IMN</string>
	</array>
	<array>
		<string>毛里求斯</string>
		<string>MUS</string>
	</array>
	<array>
		<string>毛里塔尼亚</string>
		<string>MRT</string>
	</array>
	<array>
		<string>美国</string>
		<string>USA</string>
	</array>
	<array>
		<string>美国本土外小岛屿</string>
		<string>UMI</string>
	</array>
	<array>
		<string>美属萨摩亚</string>
		<string>ASM</string>
	</array>
	<array>
		<string>美属维京群岛</string>
		<string>VIR</string>
	</array>
	<array>
		<string>蒙古</string>
		<string>MNG</string>
	</array>
	<array>
		<string>孟加拉</string>
		<string>BGD</string>
	</array>
	<array>
		<string>蒙塞拉特岛</string>
		<string>MSR</string>
	</array>
	<array>
		<string>密克罗尼西亚</string>
		<string>FSM</string>
	</array>
	<array>
		<string>秘鲁</string>
		<string>PER</string>
	</array>
	<array>
		<string>缅甸</string>
		<string>MMR</string>
	</array>
	<array>
		<string>摩尔多瓦共和国</string>
		<string>MDA</string>
	</array>
	<array>
		<string>摩洛哥</string>
		<string>MAR</string>
	</array>
	<array>
		<string>摩纳哥</string>
		<string>MCO</string>
	</array>
	<array>
		<string>莫桑比克</string>
		<string>MOZ</string>
	</array>
	<array>
		<string>墨西哥</string>
		<string>MEX</string>
	</array>
	<array>
		<string>纳米比亚</string>
		<string>NAM</string>
	</array>
	<array>
		<string>南非</string>
		<string>ZAF</string>
	</array>
	<array>
		<string>南极洲</string>
		<string>ATA</string>
	</array>
	<array>
		<string>南乔治亚岛和南桑德韦奇岛</string>
		<string>SGS</string>
	</array>
	<array>
		<string>南苏丹</string>
		<string>SSD</string>
	</array>
	<array>
		<string>瑙鲁</string>
		<string>NRU</string>
	</array>
	<array>
		<string>尼加拉瓜</string>
		<string>NIC</string>
	</array>
	<array>
		<string>尼泊尔</string>
		<string>NPL</string>
	</array>
	<array>
		<string>尼日尔</string>
		<string>NER</string>
	</array>
	<array>
		<string>尼日利亚</string>
		<string>NGA</string>
	</array>
	<array>
		<string>纽埃</string>
		<string>NIU</string>
	</array>
	<array>
		<string>诺福克岛</string>
		<string>NFK</string>
	</array>
	<array>
		<string>挪威</string>
		<string>NOR</string>
	</array>
	<array>
		<string>帕劳</string>
		<string>PLW</string>
	</array>
	<array>
		<string>皮特克恩</string>
		<string>PCN</string>
	</array>
	<array>
		<string>葡萄牙</string>
		<string>PRT</string>
	</array>
	<array>
		<string>日本</string>
		<string>JPN</string>
	</array>
	<array>
		<string>瑞典</string>
		<string>SWE</string>
	</array>
	<array>
		<string>瑞士</string>
		<string>CHE</string>
	</array>
	<array>
		<string>萨尔瓦多</string>
		<string>SLV</string>
	</array>
	<array>
		<string>萨摩亚</string>
		<string>WSM</string>
	</array>
	<array>
		<string>塞尔维亚</string>
		<string>SRB</string>
	</array>
	<array>
		<string>塞拉利昂</string>
		<string>SLE</string>
	</array>
	<array>
		<string>塞内加尔</string>
		<string>SEN</string>
	</array>
	<array>
		<string>塞浦路斯</string>
		<string>CYP</string>
	</array>
	<array>
		<string>塞舌尔</string>
		<string>SYC</string>
	</array>
	<array>
		<string>沙特阿拉伯</string>
		<string>SAU</string>
	</array>
	<array>
		<string>圣巴泰勒米岛</string>
		<string>BLM</string>
	</array>
	<array>
		<string>圣诞岛</string>
		<string>CXR</string>
	</array>
	<array>
		<string>圣多美和普林西比</string>
		<string>STP</string>
	</array>
	<array>
		<string>圣赫勒拿-阿森松-特里斯坦达库尼亚</string>
		<string>SHN</string>
	</array>
	<array>
		<string>圣基茨和尼维斯</string>
		<string>KNA</string>
	</array>
	<array>
		<string>圣路西亚</string>
		<string>LCA</string>
	</array>
	<array>
		<string>圣马力诺</string>
		<string>SMR</string>
	</array>
	<array>
		<string>圣皮埃尔和密克隆</string>
		<string>SPM</string>
	</array>
	<array>
		<string>圣文森特和格林纳丁斯</string>
		<string>VCT</string>
	</array>
	<array>
		<string>斯里兰卡</string>
		<string>LKA</string>
	</array>
	<array>
		<string>斯洛伐克</string>
		<string>SVK</string>
	</array>
	<array>
		<string>斯洛文尼亚</string>
		<string>SVN</string>
	</array>
	<array>
		<string>斯瓦尔巴特和扬马延岛</string>
		<string>SJM</string>
	</array>
	<array>
		<string>斯威士兰</string>
		<string>SWZ</string>
	</array>
	<array>
		<string>苏丹</string>
		<string>SDN</string>
	</array>
	<array>
		<string>苏里南</string>
		<string>SUR</string>
	</array>
	<array>
		<string>所罗门群岛</string>
		<string>SLB</string>
	</array>
	<array>
		<string>索马里</string>
		<string>SOM</string>
	</array>
	<array>
		<string>塔吉克斯坦</string>
		<string>TJK</string>
	</array>
	<array>
		<string>泰国</string>
		<string>THA</string>
	</array>
	<array>
		<string>台湾</string>
		<string>TWN</string>
	</array>
	<array>
		<string>坦桑尼亚</string>
		<string>TZA</string>
	</array>
	<array>
		<string>汤加</string>
		<string>TON</string>
	</array>
	<array>
		<string>特克斯和凯科斯群岛</string>
		<string>TCA</string>
	</array>
	<array>
		<string>特里尼达和多巴哥</string>
		<string>TTO</string>
	</array>
	<array>
		<string>土耳其</string>
		<string>TUR</string>
	</array>
	<array>
		<string>土库曼斯坦</string>
		<string>TKM</string>
	</array>
	<array>
		<string>突尼斯</string>
		<string>TUN</string>
	</array>
	<array>
		<string>图瓦鲁</string>
		<string>TUV</string>
	</array>
	<array>
		<string>托克劳群岛</string>
		<string>TKL</string>
	</array>
	<array>
		<string>瓦利斯和富图纳</string>
		<string>WLF</string>
	</array>
	<array>
		<string>瓦努阿图</string>
		<string>VUT</string>
	</array>
	<array>
		<string>委内瑞拉玻利瓦尔共和国</string>
		<string>VEN</string>
	</array>
	<array>
		<string>文莱</string>
		<string>BRN</string>
	</array>
	<array>
		<string>乌干达</string>
		<string>UGA</string>
	</array>
	<array>
		<string>乌克兰</string>
		<string>UKR</string>
	</array>
	<array>
		<string>乌拉圭</string>
		<string>URY</string>
	</array>
	<array>
		<string>乌兹别克斯坦</string>
		<string>UZB</string>
	</array>
	<array>
		<string>西班牙</string>
		<string>ESP</string>
	</array>
	<array>
		<string>希腊</string>
		<string>GRC</string>
	</array>
	<array>
		<string>西撒哈拉</string>
		<string>ESH</string>
	</array>
	<array>
		<string>香港</string>
		<string>HKG</string>
	</array>
	<array>
		<string>新加坡</string>
		<string>SGP</string>
	</array>
	<array>
		<string>新喀里多尼亚</string>
		<string>NCL</string>
	</array>
	<array>
		<string>新西兰</string>
		<string>NZL</string>
	</array>
	<array>
		<string>匈牙利</string>
		<string>HUN</string>
	</array>
	<array>
		<string>叙利亚</string>
		<string>SYR</string>
	</array>
	<array>
		<string>牙买加</string>
		<string>JAM</string>
	</array>
	<array>
		<string>亚美尼亚</string>
		<string>ARM</string>
	</array>
	<array>
		<string>也门</string>
		<string>YEM</string>
	</array>
	<array>
		<string>意大利</string>
		<string>ITA</string>
	</array>
	<array>
		<string>伊拉克</string>
		<string>IRQ</string>
	</array>
	<array>
		<string>伊朗</string>
		<string>IRN</string>
	</array>
	<array>
		<string>以色列</string>
		<string>ISR</string>
	</array>
	<array>
		<string>印度</string>
		<string>IND</string>
	</array>
	<array>
		<string>印度尼西亚</string>
		<string>IDN</string>
	</array>
	<array>
		<string>英国</string>
		<string>GBR</string>
	</array>
	<array>
		<string>英属维京群岛</string>
		<string>VGB</string>
	</array>
	<array>
		<string>英属印度洋领地</string>
		<string>IOT</string>
	</array>
	<array>
		<string>约旦</string>
		<string>JOR</string>
	</array>
	<array>
		<string>越南</string>
		<string>VNM</string>
	</array>
	<array>
		<string>赞比亚</string>
		<string>ZMB</string>
	</array>
	<array>
		<string>泽西岛</string>
		<string>JEY</string>
	</array>
	<array>
		<string>乍得</string>
		<string>TCD</string>
	</array>
	<array>
		<string>直布罗陀</string>
		<string>GIB</string>
	</array>
	<array>
		<string>智利</string>
		<string>CHL</string>
	</array>
	<array>
		<string>中非</string>
		<string>CAF</string>
	</array>
	<array>
		<string>中国</string>
		<string>CHN</string>
	</array>
</array>
</plist>
